body{background-color: lightgrey;
color:black;
font-family:monospace;

}

ul,li{
background-color: white;
color:mediumpurple;
}

li{
    background-color: white;
display:inline;
padding: 12px;
float: right;
color:black;
font-family:monospace;
font-size: 12px;
margin: 0;}

a{color: mediumpurple;
text-align: center;
text-decoration: none }

.searchbar{
text-align: center;
text-decoration: none;
position: relative;
right: 150px;
top: -10px;}

.searchbar input{
    width: 1000px;
    height: 36px;
}
.navbar{
width: 101%;
text-decoration: none;
margin:0;
background-color: white;
height: 10%;
position: fixed; 
top: -15px;
left: -15px;
}



h1{color: mediumpurple;
    text-decoration: none;
    font-size: 40px;
    font-weight: 1;
    font-family:monospace;
    text-shadow: 5px 5px 5px black;
    text-align: left}

/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn { 
  float: left;
  width: 42%;
 padding-left: 18%;
padding-top: 5%;
}

/* Right column */
.rightcolumn {
  float: right;
  width: 20%;
  padding-right: 18%;
    padding-top: 5%;
}

/* Fake image */
.fakeimg {
  background-color: #aaa;
  width: 80%;
}

/* Add a card effect for articles */
.card {
  background-color: white;
  padding: 20px;
  margin-top: 20px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}