body{background-color: lightgrey;
color:black;
font-family:monospace;

}

ul,li{
background-color: white;
color:mediumpurple;
}

li{
    background-color: white;
display:inline;
padding: 12px;
float: right;
color:black;
font-family:monospace;
font-size: 12px;
margin: 0;}

a{color: mediumpurple;
text-align: center;
text-decoration: none }

.searchbar{
text-align: center;
text-decoration: none;
position: relative;
right: 150px;
top: -10px;}

.searchbar input{
    width: 1000px;
    height: 36px;
}
.navbar{
width: 101%;
text-decoration: none;
margin:0;
background-color: white;
<<<<<<< HEAD
height: 10%;
position: fixed; 
top: -15px;
left: -15px;
}
height: 8%}



h1{color: mediumpurple;
    text-decoration: none;
    font-size: 40px;
    font-weight: 1;
    font-family:monospace;
    text-shadow: 5px 5px 5px black;
    text-align: left}

/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn { 
  float: left;
  width: 42%;
 padding-left: 18%;
padding-top: 6%;
}

/* Right column */
.rightcolumn {
  float: right;
  width: 20%;
  padding-right: 18%;
    padding-top: 6%;
}

/* Fake image */
.fakeimg {
  background-color: #aaa;
  width: 80%;
}

/* Add a card effect for articles */
.card {
  background-color: white;
  padding: 20px;
    margin-top: 3px;
    border-radius: 5px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

#create{
    text-align: center;
    margin-left: 80;
    background-color: mediumpurple;
    color: white;
    border-radius: 5px;
    width:180px;
    height:45px;
    font-family: monospace
}

#card-mission{
    font-family: arial;
    
}


/*----------------------------------------Create Post Page Specific-------------------------------------------------------*/

#title-input{width: 100%; height: 30px}

#submit-post{
    text-align: center;
    margin-left: 645;
    background-color: white;
    color: mediumpurple;
    border-radius: 7px;
    width:90px;
    height:38px;
    font-family: monospace;
}

/*---------------------------------------Login Modal-----------------------------------------------------------------------*/

.modal{
    display:none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    Width:100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.5);
}

.modal-content{
    background-color: lavender;
    margin: 20% auto;
    padding: 20px;
    width: 30%;
    height: 30%;
    box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2), 0 7px 20px 0 rgba(0,0,0,0.17);
    animation-name:modalopen;
    animation-duration: 1s;
}

.closeBtn{
    color:#ccc;
    float: right;
    font-size: 30px;
}

.closeBtn:hover, .closeBtn:focus{
    color: black;
    text-decoration: none;
    cursor:pointer;
}

@keyframes modalopen{
    from{opacity: 0}
    to {opacity: 1}
}